
body {
  background-image: url("img/thermo.jpeg") ;
  background-repeat: no-repeat, repeat;
  height: 1000px;
  background-position: center;
  background-size: cover;
  position: relative;

}
.weather-cities{
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  line-height: 1.1;
  
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;

}

.high-usage {
  color: red;
}

.thermo-changes {
  float: right; 
  /* position: fixed; */
  display: grid;
  width: 160px;
  background-color: rgba(200,200,200,0.3);
  border: 1px solid black;
  margin-top: 15%;
}
button {
  background-color: darkgrey;
  color: black;
  /* border: 2px solid orange; */
  padding: 6px 7px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
  font-weight: 500;
  border-color: black;
  float: right;

}

.button:hover {
  background-color: darkgrey;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  /* color: white; */
}

body, button {
  font-family: 'Quicksand', sans-serif;
  /* font-weight: 300; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
}

.temperature-buttons {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

}
.drop-down {

}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
  /* float: right; */
}

.arrow:hover {
  background-color: darkgrey;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  align-items: center;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  align-items: center;
}

